streamlit
sounddevice
numpy
mss
Pillow
imagehash
openai>=1.0.0
requests
PyMuPDF
langchain
langchain-openai
langchain-core
langchain-community
langchain-classic
faiss-cpu
tiktoken
dashscope
networkx
pyvis
